{% extends 'admin/base.html.twig' %}

{% set page = "admin.formation" %}
{% set pageHeader = "Gestion des Formations" %}
{% set pageHeaderPlus = "Ajout" %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ form_errors(form) }}
            <div class="box">
                <form method="post" action="{{ path('admin.formation.create') }}" class="form-horizontal">
                    <div class="box-body">
                        {{ form_row(form.date, { 'style': 'horizontal', 'label_col': 3, 'widget_col': 6, 'label': 'Date de la formation' }) }}
                    </div>
                    <div class="box-footer">
                        {{ form_rest(form) }}
                        <input type="submit" class="btn btn-primary pull-right" value="Ajouter" />
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
